[2015-08-03 17:48] pharring opened #2 "Add parameters to BenchmarkAttribute"
The defaults are great, but I'd like to be able to configure a few things:
1. Manual iteration count (instead of the heuristic one)
2. Whether there is an additional "warm-up" iteration (true/false)
3. If using a heuristic iteration count, what are the 'escape' values (e.g. maximum elapsed time which is currently set at 10ms)

I'm sure we will think of more.

[2015-08-03 20:16] pharring opened #3 "ETL file is truncated when running tests from the IDE"
If you run SimplePerfTests from within the Visual Studio IDE as administrator, you get a truncated ETL file.

I think this is because the TraceEventSession is getting garbage collected.

[2015-08-03 22:02] #3 closed, assigned to nobody

[2015-08-03 22:53] pharring opened #4 "Discuss: Out-of-proc ETW tracing"
It was mentioned in #3 that "internal" ETW tracing might not be the best approach. I've been thinking the same thing myself.

A few downsides:
1. It requires that the xunit test runner runs elevated which may be undesirable (consider what a malicious test case could do).
2. Right now, the set of providers is hard-coded. Even if configuration options were provided via the Benchmark attribute, not a

[2015-08-04 00:49] #2 closed, assigned to nobody

[2015-08-04 00:58] ericeil opened #5 "Running external test processes"
Some of our tests really need their own process.  For example, a "hello world" test that is measuring the end-to-end time to execute the canonical "hello world" console app.  That's a very simple example, but this comes up a lot in our testing.

One idea would be to just have a simple API for invoking an external process.  Test methods would just be normal [Benchmark] methods that happen to call t

[2015-08-04 12:52] roncain opened #6 "Separate[BenchMark] setup and iteration phases"
Many interesting multi-machine or multi-process performance tests need to do some basic test-specific setup once prior to the part that is iterated and timed.  Provide a way to decouple these.  One approach might be to base [BenchMark] on [Theory] rather than fact.  This would allow the "argument instantiation" part to do setup for the test.  The benchmark framework would do that once per test (un

[2015-08-04 16:31] ericeil opened #7 "Support data-driven performance tests"
The [Theory] model would be very useful for perf tests.  For example, the CLR's string throughput tests currently have each test case run a single String method over a set of string literal inputs, all in one test case.  It would be great if these could be refactored into a single method call, parameterized over a bunch of strings, with each input treated as a separate test case in the output.

It

[2015-08-04 17:48] ericeil opened #8 "Discuss: iteration "philosophy""
Several other issues have mentioned how iterations should be handled, so I thought this warranted a dedicated issue.

The basic question is, for any given test, how many times should it be run?  My thinking on this is as follows:

### It should be trivial to author a simple perf test that yields useful results.

I should be able to write something like:

...and get a useful measure of that method'

[2015-08-04 18:39] ericeil opened #9 "CPU counters"
Need to add support for "instructions retired," and possibly other CPU counters.  The ETW support for this is unfortunately currently limited to Win 10, and only works with Hyper-V disabled on the machine.  But where we can get it, it would be nice.

[2015-08-04 18:44] ericeil opened #10 "Discuss: custom metrics"
The simple proof-of-concept we have now only collects data about test execution time (wall-clock time) and GC counts.  This clearly will not be sufficient for many test scenarios.  We will certainly add a few more default metrics, but we'll probably also need a way to collect and report custom metrics.  And maybe a way to customize reporting of even the default metrics.

As a vague proposal, I off

[2015-08-05 04:06] pharring opened #13 "Publish xunit.performance to Nuget so it can be used from other projects"
I'd like to begin experimenting with this in Roslyn builds. To use it from Roslyn, xunit-performance needs to be put into a Nuget package and published.

[2015-08-06 23:58] #7 closed, assigned to nobody

[2015-08-07 23:12] pharring opened #14 "iterationTimer is not reset between iterations"
The iterationTimer is stopped [here](https://github.com/Microsoft/xunit-performance/blob/28e62734245f0a868ae37bdd4342f893f06bb1f1/xunit.performance/BenchmarkTestInvoker.cs#L110), but we don't appear to reset it before starting again on the next iteration.

That must seriously skew the statistics.

[2015-08-07 23:23] #14 closed, assigned to ericeil

[2015-08-08 00:18] pharring opened #15 "A Benchmark with MemberData can hang in discovery"
Add a new C# file to the SimplePerfTests project with the following content:

[code]

Build SimplePerfTests and verify that you can run the FormatCurlyBracesTest.
Now change [Theory] to [Benchmark] and rebuild. Visual Studio's test discovery mechanism spins forever.

I'm not sure how to debug this, but presumably the problem lies in the code in BenchmarkTestCaseRunner.

[2015-08-10 17:33] pharring opened #16 "Feature: In addition to per-iteration events, also emit Test start/stop events"
I would like to see test method start/stop events, in addition to the per-iteration events. This will make it easier to analyze traces that cover multiple test methods. i.e., you need to process the "dead time" in between the end of the last iteration of one test and the first iteration of the next test.

[2015-08-10 23:34] #15 closed, assigned to nobody

[2015-08-11 00:32] #16 closed, assigned to nobody

[2015-08-11 02:58] ericeil opened #17 "Enable testing on CoreCLR"
This should be a simple matter of building xunit.performance.dll as a portable library.

[2015-08-12 23:14] #4 closed, assigned to nobody

[2015-08-15 21:04] #17 closed, assigned to pharring

[2015-08-17 22:26] pharring opened #23 "Build warnings for missing XML doc comments"
We get the following warnings from a Release build due to missing XML Doc Comments:

[code]

[2015-08-18 18:17] #23 closed, assigned to ericeil

[2015-08-21 17:34] #10 closed, assigned to ericeil

[2015-08-21 22:31] #13 closed, assigned to pharring

[2015-09-04 22:08] #6 closed, assigned to nobody

[2015-09-10 16:27] #9 closed, assigned to ericeil

[2015-09-10 18:28] ericeil opened #57 "Fix tracking of sample interval for Instructions Retired"
My recent change to add the Instructions Retired metric has a bug: we lose track of the actual sample interval after scanning the first test case's ETW results.  We should be tracking this in the "evaluation context" so the value previously reported in the trace can flow to subsequent test cases.

[2015-09-10 18:30] ericeil opened #58 "Consider processing ETW data in parallel"
For large amounts of ETW data, we spend a long time parsing the results.  We could perhaps speed this up by running the tests in smaller "chunks" with separate ETL files for each chunk, and then parsing the files in parallel.

[2015-09-10 18:44] ericeil opened #59 "CoreCLR runner"
For non-Windows platforms, we need a version of xunit.performance.run that runs on CoreCLR.

Some issues:
1) Do we use DNX to run this, CoreRun, or both?
2) What do we replace ETW with?

For now, the answer to the ETW question is likely that we simply log iteration durations to a file, and ignore other metrics, until we get some cross-platform ETW-equivalent in .net.

[2015-09-10 20:54] ericeil opened #60 "Readme.md is out of date"
Need to update this with the new iteration method.

[2015-09-10 21:29] ianhays opened #61 "Warm-up iterations"
As I continue writing perf tests for CoreFX I’ve realized there isn’t yet an intuitive way to handle warmup. Are there any plans in motion to add this functionality?

The way that I’ve currently been thinking about warmup lends a structure like so:

[code]

What I’d like, however, would be to hardly worry about warmup at all. What do you think of adding a “WarmupIterations” variable that disables

[2015-09-10 22:40] #61 closed, assigned to nobody

[2015-09-10 23:02] ericeil opened #62 "Discuss: how to ensure that the measured region of an iteration is "large enough" to be measured"
It's currently very easy and natural to write tests that cannot be measured accurately by our system.  For example:

[code]

This looks good, but the resulting measurements may be meaningless, because the "measured region" does so little.  For example, our time measurements are limited by the system "performance counter."  On my machine, that timer ticks 3,507,510 per second.  So anything that can

[2015-09-11 20:59] ericeil opened #63 "Can't run a test assembly with spaces in the path"
When we run the xunit runner, we need to quote the assembly paths.

[2015-09-11 21:00] ericeil opened #64 "Crash when running a test marked with [Benchmark] but without any iterations"
Repro:

[code]

[2015-09-11 22:15] #60 closed, assigned to ericeil

[2015-09-14 18:09] #57 closed, assigned to nobody

[2015-09-24 23:35] pharring opened #73 "Add a -outfile option to xunit.performance.run"
On xunit.performance.run.exe we have a "-runid" switch. The value of that switch is used to create output filenames. The runid is also embedded in the .xml file.

When running as part of a distributed test job, it will be useful to pass the job's correlation ID as the run id. However, there will be many tasks associated with that job and we don't want the results to have the same file name.

It wo

[2015-09-25 16:50] #73 closed

[2015-09-25 18:34] ericeil commented on #59
This is now done.

[2015-09-25 18:34] #59 closed

[2015-09-28 16:12] ianhays opened #79 "Perf runner ETW tracing insufficient system resources"
I've been getting the following error frequently:

[code]

While running the tests on Windows. I believe the issue is caused by my workflow:
- Start running the tests
- Tests hang indefinitely for some reason (I'm not writing infinite loops in my tests so there must be something else wrong here too, but I haven't yet discerned what).
- Pass a CTRL-C to the runner to stop it

ISSUE: The test direct

[2015-09-28 16:12] ianhays commented on #79
@ericeil

[2015-09-28 16:35] vancem commented on #79
An ETW session is one of the few things that live beyond the process that started it.    While the TraceEventSession class that is being used to open a ETW session has a destructor that will stop it by default, it can only do this if the destructor is called.

Thus it is a good idea that anything with a TraceEventSession have a control-C handler that causes sessions to be disposed.

TraceEventSess

[2015-09-28 17:12] ericeil commented on #79
The ETW session is owned by a separate process from the test harness, partly for this reason.  That process monitors for the death of the test harness, and is supposed to stop logging in that case.  It's possible that there are cases where the logger process gets terminated early, though.  Maybe we need to add an explicit Ctrl-C handler to the logger process, as @vancem suggests.

@ianhays, when y

[2015-09-28 20:45] #79 closed

[2015-09-28 20:50] ericeil commented on #79
Somehow the logic I mentioned, which monitors for xunit.performance.run's termination, wasn't hooked up any more.  I've pushed build 19 with the fix.

[2015-09-28 23:00] #64 closed

[2015-09-28 23:01] #63 closed

[2015-09-28 23:05] ericeil commented on #58
On second thought, I don't think this is worth the complexity at this point.

[2015-09-28 23:05] #58 closed

[2015-09-29 17:22] #62 closed

[2015-09-29 17:25] ianhays opened #87 "Inconsistent test results when running one test vs several tests"
I've been running into this problem with a few different classes now. The issue is that when I run just a single test method I get expected results, but when I run the entire test class those test results get skewed. An example:

Run all tests for Process:
[code]

Run just the tests for Process.GetProcessesByName:
[code]

The tests being run are those at https://github.com/dotnet/corefx/pull/3523.

[2015-09-29 17:28] ericeil commented on #87
You don't appear to have any perf metrics in that data.  The "time" numbers in those results are the overall test case execution times, from xUnit's point of view, and don't mean much.  If perf data collection is working, you should see individual iteration data under each test element.

Let's figure out what's going wrong with perf data collection....

[2015-09-29 17:44] ianhays commented on #87
So the test time listed inside of the "test" xml tag is the entire method iteration and not the perf test timing? In that case, my Windows results aren't useful either. They look like this:
[code]

[2015-09-30 00:00] ericeil commented on #87
With #89, you should be getting perf metric data.  Reopen this if you're still seeing inconsistencies.

[2015-09-30 19:13] ianhays commented on #87
Looks like this is still an issue even with the recent update to the version 21 runner.

Results for Perf_Process.GetProcessesByName when running all Perf_Process tests:
[code]

Results when running only the method itself:
[code]

[2015-09-30 19:15] ianhays opened #91 "Minimum number of iterations?"
Think something like this may have value? I've noticed from my data that many tests will only run one or two iterations and the data will be skewed oddly. An example:

[code]

It seems like we would want to run this test a few more times to get a better idea of the expected duration.

[2015-09-30 19:21] ianhays commented on #91
Related to #8

[2015-09-30 20:09] pharring commented on #91
I agree. There are some tests (e.g. Roslyn "solution build" tests) where I want to say, for example: Always run 5 iterations; no more, no less. The minimum is specified because there might be machine-wide caching behaviors the are not detectable in the xunit-performance framework itself. The upper bound is specified because I want to keep a lid on total execution time (e.g. my runs start at midnig

[2015-09-30 20:48] ericeil commented on #87
Do you get similar results on Windows?

[2015-09-30 21:47] ericeil commented on #87
I notice that this particular test seems to involve enumerating all processes on the machine.  Maybe there are more processes laying around when you run the whole class?

[2015-09-30 21:47] ericeil commented on #87
(I don't see this behavior when I run these tests on Windows, BTW.)

[2015-09-30 22:03] ianhays commented on #87
Hmm that's certainly possible. I had the notion that this was occurring elsewhere, but now that I think of it that was based on the results I was getting BEFORE accurate metric data was being used. I'll do some more testing and comparisons and get back to you and close this if I can't replicate this in more places.

[2015-10-01 00:38] ianhays commented on #87
Confirmed, only happening with Process. It figures that Process would be the first library that I check for perf inconsistencies and happens to be the only place where this particular bug occurs :) Thanks

[2015-10-01 00:38] #87 closed

[2015-10-02 16:50] ianhays opened #92 "Insuffcient System resources when running tests concurrently"
For CoreFX, when running build.cmd we run the tests concurrently. With the current perf runner (build 22), we run Corerun regardless of any test discovery results. This has the effect that ETW tracing is started for a number of csproj that don't actually have any perf tests associated with them. This is generally not an issue, but occasionally I'll get an error like this:
[code]

I don't come upon

[2015-10-02 21:03] ericeil commented on #92
I think we should consider adding a global Mutex that prevents multiple simultaneous perf runs / ETW logging sessions.  However, for clean perf results you should be running these tests when nothing else of consequence is happening on the machine.  The analysis I'm working on should help somewhat with noise introduced by other processes competing for system resources, but it will still be importan

[2015-10-29 20:44] ericeil commented on #92
Thinking about my Mutex idea some more, I think this is probably unnecessary complexity that will only help sometimes.  It's really up to the user to run perf tests in a reasonably "quiet" environment.

[2015-10-29 20:44] #92 closed

[2015-10-29 20:50] ericeil commented on #5
Now that iteration is under programmatic control in each test method, I'm not sure this topic is still relevant.  Starting an external process per iteration is a simple matter of using Process.Start.

[2015-10-29 20:50] #5 closed

[2015-10-30 14:30] pharring commented on #91
The implementation uses an environment variable which affects all test methods equally in a run.
I expected to see parameters on the Benchmark attribute so that each test method could make that determination.

[2015-11-02 20:03] swgillespie opened #99 "Deadlock when failing to deserialize a CrossDomainInvokeRequest"
This is an interesting issue that I encountered when loading a custom performance metric that depended on a version of TraceEvent that was different that the one that the Logger process depended upon. In my case, when deserializing a CrossDomainInvokeRequest, an exception is thrown by the runtime for the assembly version mismatch which is propegated [here](https://github.com/Microsoft/xunit-perfor

[2015-11-06 19:24] smudge202 opened #100 "Publish to NuGet"
I admit, I have no idea what state the project is in right now (will clone and use a local build for now) but I can't see this on NuGet; any chance of a beta/pre-release build making it's way there?

[2015-11-06 20:15] pharring commented on #100
@smudge202 it's in https://www.myget.org/gallery/dotnet-buildtools

e.g.:
https://www.myget.org/F/dotnet-buildtools/api/v2/package/Microsoft.DotNet.xunit.performance/1.0.0-alpha-build0026

Add this URL to your NuGet feeds:
https://www.myget.org/F/dotnet-buildtools/

[2015-11-06 20:18] smudge202 commented on #100
You're a boss, thanks @pharring . Was just starting to check out https://github.com/PerfDotNet/BenchmarkDotNet as an alternative.

I don't expect anything too much from an alpha, but wonder if there's a specific reason this hasn't made it to nuget.org yet. (i.e. Something I should be wary of?).

[2015-11-06 20:56] ericeil commented on #100
The short version is that we have some internal policies at Microsoft that prevent publication of unsigned binaries on NuGet.  The eventual goal is to publish this on NuGet.

[2015-11-06 21:10] smudge202 commented on #100
No problems, thanks for help. I'll leave it to you guys to decide when to close the issue.

[2015-11-10 14:25] eriove opened #101 ".NET 4.5 support"
How come there isn't any .NET 4.5 support, is it just that you don't need it or are there features missing in the framework?

I tried creating .NET 4.5 projects (see [this](https://github.com/eriove/xunit-performance) branch) but the XML-files generated are missing the `<iterations>` tags. If you don't know of any issues I might dig further into the problem.

[2015-11-10 17:43] ericeil commented on #101
4.5 support isn't something we've needed yet.  I wouldn't be surprised if we've taken dependencies on 4.6-specific behavior, but I also wouldn't be surprised if that was totally unnecessary. :)

[2015-11-10 19:31] eriove commented on #101
Ok. Then I'll try once more getting my changes to work.

[2015-11-17 07:32] Zoe-ms opened #104 "Ignore warmup iterations"
I tried the xunit-performance, and by default, it would run for 1000 times for every test, and seems the mean duration for a test would be calculated based on the 1000 durations. However, the first few iterations are doing warm-up, and better to be considered as exceptional value.

For example:
     `<iterations>`
           `<iteration index="0" Duration="0.90437474681425556" GCCount="0" />`

[2015-11-17 09:51] luoyan0517 commented on #100
@ericeil. We are considering to use xunit-performance as well. So may I know when are you targeting to have a RTM version and publish to nuget?

[2015-11-17 21:06] eriove commented on #101
I haven't had as much time as I would have liked but I'm now seeing the same problems with .NET 4.6 as with .NET 4.5. I'll create a new issue if I manage to pin down the problem.

[2015-11-18 12:10] robinson opened #105 "running in xunit-perf in Windows 7."
Hi,
When I am trying to run for collecting more detail by following command in Windows 7:
xunit.performance.run MyTests.dll -runner xunit.console.exe -runid MyRun1234
It occurs this error:
Error: Profile source only availabe on Win8 and beyond.
   by Microsoft.ProcessDomain.ProcDomain.<ExecuteAsync>d__26`1.MoveNext() in D:
\work station\projects\perf_test_dataexchange\xunit-performance-master\src\

[2015-11-19 18:22] ericeil commented on #104
The current convention is that iteration 0 should be treated as a "warmup" iteration for analysis purposes.  If we have a need for multiple warmup iterations, we can discuss ways of accommodating that.

[2015-11-19 19:08] ericeil commented on #105
Did you apply any custom measurement attributes to your tests, or just the `[Benchmark]` attribute?

[2015-11-19 19:14] robinson commented on #105
Hi Eric - I just re-run the example with the command above. Regards, Robin

[2015-11-20 02:46] luoyan0517 commented on #104
I agree that at least iteration 0 should be treated as a "warmup" iteration, which is not implemented yet, right? As for if we need multiple warmup iterations, i can't say without any statistical data.

[2015-11-25 09:10] luoyan0517 opened #107 "Make .etl output as optional"
The .etl file is large, and we do not want it most of times. For example, when the perf run is nightly, and we just want the xml output to analyze the trend.

[2015-11-25 09:15] luoyan0517 opened #108 "Data precision of xunit.performance.analysis.exe"
I got results like:
      `<iterations>
            <iteration index="0" Duration="1766.2689153251486" />
            <iteration index="1" Duration="1625.3662320883595" />
            ....
     </iterations>`

While the analysis result is:
        `<Duration min="1.56E+03" mean="1.62E+03" max="1.77E+03" marginOfError="0.0247" stddev="59.5" />`

Seems precision is lost in the result.

[2015-11-30 19:39] ericeil commented on #107
The data in the xml output comes from the .etl file, so we do need to generate it.  However, if you don't want to keep it, you can go ahead and delete it after the run.  Our team plans to keep the ETL files for as long as we have available storage, as they're very useful for diagnosing the causes of regressions, which can sometimes be hard to reproduce in another environment.

[2015-11-30 19:39] #107 closed

[2015-12-02 13:12] eriove opened #109 "Need better error reporting if outdir does not exist."
When running on our build server no ETL file is created and an exception is thrown in  `ETWLogging.StartAsync()`. If I copy the dll with the tests (built on the build server) and the xunit.performance.run.exe with it dependencies to a directory on my local machine everything works as expected. My machine is running WIndows 8.1 and the build server Windows Server 2012 R2.

What should I do to conti

[2015-12-02 13:21] eriove commented on #101
I've now narrowed down my issues. They were unrelated to .NET 4.5 and I have created a new issue (#109) for the actual problem. I don't really need .NET 4.5 support anymore. Not sure what your process is like but you could probably close this issue.

[2015-12-02 14:47] eriove commented on #109
I found the issue. To input the search path to the `-outdir`  I had to add a space after the \ before the ". (Unfortunately we have a space in the path.)

By changing
`arguments.Push(args[i]);`
to
`arguments.Push(args[i].Trim(' '));`
in `ProgramCore.ParseCommandLine()` the issue is resolved.

[2015-12-02 17:55] ericeil commented on #109
I'm not sure I'd want to trim spaces off of the directory name; spaces in paths are valid, after all.  Can you explain the scenario that lead to the issue in a little more detail?

[2015-12-02 17:56] #101 closed

[2015-12-02 18:34] eriove commented on #109
I didn't think of the case when a directory name ends with a space. I call the runner in the following way

`xunit.performance.run.exe "D:\Some folder with space\bin\MyProject.PerformanceTests.dll" -runid MyProject.PerformanceTests_20151112.3 -outdir "D:\Some folder with space\bin\ " -runner "D:\Some folder with space\tools\Xunit.Performance\xunit.console.exe"`

`D:\Some folder with space\bin\` is

[2015-12-02 18:45] ericeil commented on #109
Thanks!  I'll leave this open for now, as a note to report this error in a better way.

[2015-12-02 18:47] #105 closed

[2015-12-02 21:41] vancem commented on #109
The more serious issue here is that you should be allowed to do

-outdir "D:\Some folder with space\bin\"

on a command line.    The standard way of quoting “ on a windows command line is to repeat the quote  (thus “” becomes “).

However I suspect that on UNIX machines the \ is used to quote escapes.

My recommendation is that if we go with UNIX command line conventions, then we should allow / to

[2015-12-02 22:47] ericeil commented on #109
Whatever translation happens with backslashes seems to happen before the managed Main method is called.  I just tried this simple program:

[code]
If I invoke it thusly (directly from the console):

[code]

The output is:

[code]

If I "escape" the backslash, I get the desired result:

[code]

I'm not sure what xunit.performance.run can do, given that this translation seems to happen somewhere bef

[2015-12-02 23:49] vancem commented on #109
I agree that it is not xunit.performance.run’s issue.  How was that EXE generated?   I assume this is CoreCLR based, which imply it is an issue in CoreCLR (since it owns argument parsing).

Vance

From: Eric Eilebrecht [mailto:notifications@github.com]
Sent: Wednesday, December 2, 2015 2:48 PM
To: Microsoft/xunit-performance <xunit-performance@noreply.github.com>
Cc: Vance Morrison <vancem@microso

[2015-12-03 08:14] eriove commented on #109
I tried running this C++ program from [MSDN](https://msdn.microsoft.com/en-us/library/17w5ykft.aspx).
`
#include "stdafx.h"

#include <iostream>

using namespace std;
int main(int argc,      // Number of strings in array argv
	char *argv[],   // Array of command-line argument strings
	char *envp[])  // Array of environment variable strings
{
	int count;

	// Display each command-line argument.
	co

[2015-12-03 17:06] RichiCoder1 commented on #100
Consider myself interested in this too. This is a really good framework ya'll made.

[2016-01-12 07:51] AndyAyersMS commented on #104
The analysis doesn't actually do this yet, right? I am seeing iteration 0 times included in the aggregated data....

[2016-01-12 17:41] vancem commented on #104
@dsgouda

[2016-03-10 18:43] #8 closed

[2016-03-15 20:22] lt72 opened #118 "Need "Getting started" page or usage instructions"

[2016-04-13 02:56] kennycoc commented on #118
+1

[2016-04-20 18:55] khdang opened #124 "Add a Warning for Non-Serializable MemberData - Tests Don't Run"
When I use `MemberData` attribute with non-primitive type as return values such as an custom type, the perf tests don't get run and there is no perf result.

Here is the code I use:

[code]

Expectation: perf number is produced in -analysis.html
Actual: the -analysis.html file is empty

Am I missing anything? How do I use custom type with `MemberData` attribute?

[2016-04-20 19:05] ericeil commented on #124
Does it work if you attribute `TestData1` with `[Serializable]`?

[2016-04-20 22:11] khdang commented on #124
```SerializableAttribute``` is not available on CoreClr

[2016-05-12 17:42] brianrob opened #141 "Need Automated Full Cross-Platform Build"
CLI components are executables, but can only be built for an individual platform.  We want these CLI components to be available for all platforms, so we need to figure out how to build and package them appropriately.

[2016-05-12 17:52] dsgouda commented on #141
@brianrob Cli components are not executables the way they are currently being built, however they do generate a dll with an entrypoint and still need to have the runtimes explicitly specified

[2016-05-19 21:09] lt72 opened #145 "Environment variables are not honored or reset"
e.g.: when setting  complus_gcServer=1 for a test this doesn’t actually get set (i.e., the test is still running with Workstation GC when it should be run with Server GC)

[2016-05-19 21:10] lt72 opened #146 "Statistics are only computed for 'Duration" metric"
Implement computing statistics for all observed metrics

[2016-05-19 21:13] lt72 opened #147 "Statistics computation assume that the distribution is normal"
Statistics are computed under the assumption that the distribution is normal. Such assumption is questionable, especially for small populations, which is typically the case.

Consider using a non-parametric estimation technique for metrics on populations, and some variant of hypothesis-based testing for determining if some metric is significantly different between populations.

[2016-05-19 21:13] lt72 opened #148 "Consider Removing GC Environment Variables from XUnit-Performance"

[2016-05-19 21:14] lt72 opened #149 "Cannot specify number of iterations"
TFS: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/219936?fullScreen=false

[2016-05-19 21:14] lt72 commented on #148
TFS: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/223041?fullScreen=false

[2016-05-19 21:15] lt72 opened #150 "Cannot run analysis without running tests as well"
TFS: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/219932?fullScreen=false

[2016-05-20 17:25] lt72 commented on #146
Fixed with #144

[2016-05-20 17:25] #146 closed

[2016-05-20 22:46] KrzysztofCwalina opened #152 "Update README to Cover Aquisition of Xunit.Performance"
The readme talks about running tests using xunit.performance.run.exe, but does not say how to get the tool.

[2016-05-27 06:08] #108 closed

[2016-06-15 01:32] AndyAyersMS commented on #124
I ran into this too. Evidently xunit requires member data types to be xunit-serializable. See xunit/xunit#429. It would be nice if xunit-perf warned about this, since the reason for it is not obvious.

You can work around it by implementing your own serialization.

[2016-06-24 21:03] lukegeor opened #157 "Nuget package dependency on BuildTools is specified incorrectly"
Nuget package relies on Microsoft.DotNet.BuildTools.TestSuite version >= 1.0.0-prerelease-508-01. The format for the BuildTools nuget packages version is specified like this: 1.0.0-prerelease-00508-01. It is not allowing me to install the xunit-performance package because the version of BuildTools it's looking for is incorrectly specified.

![issue](https://cloud.githubusercontent.com/assets/80311

[2016-06-24 21:39] lukegeor commented on #157
I've added [PR 158](https://github.com/Microsoft/xunit-performance/pull/158) to address this issue.

[2016-07-15 12:45] redknightlois opened #160 "When running in console mode, it should run properly"
Specially when you are running under the debugger to ensure your test is correct, there shouldnt be any failure.

For example I had to resort to:

[code]

It could be great that you can have a `ConsoleIteration` running instead. If that is not possible a `NullIteration` at least so we dont get a `NullReferenceException`

[2016-07-15 14:50] AArnott commented on #152
All the tools and assemblies mentioned can only be built from source, it seems. I have several changes that I'm preparing to send PRs for to help resolve this. But my first PR hasn't been looked at yet.

[2016-07-20 23:18] AndyAyersMS opened #162 "Need package compatible with latest xunit CLI support"
The [recommended xunit for CLI release](http://xunit.github.io/docs/getting-started-dotnet-core.html) is not compatible with the latest preview release of xunit-performance.

This causes basic xunit testing to fail.

Running 'dotnet test' on a project with xunit-performance dependencies fails as follows:
[code]

because the 1.0.0-prerelease-00508-1 version of xunit.runner.utility.dotnet is already

[2016-07-20 23:20] AndyAyersMS opened #163 "Would be nice to have CLI-friendlier version"
For instance implementing a dotnet verb that launches tests in performance mode and then possibly analyzes the results.

[2016-07-20 23:22] AndyAyersMS commented on #162
@lt72, @redknightlois FYI

[2016-07-21 01:48] redknightlois commented on #162
@AndyAyersMS that explains a lot.

[2016-07-25 17:47] KrzysztofCwalina commented on #152
cc: @jonfortescue

[2016-07-26 16:58] lt72 commented on #162
@deshank

[2016-07-26 21:00] dsgouda commented on #162
I believe @AndyAyersMS might be right here since we are referencing an older version of the xunit.runner.unitlity.dotnet dll when building our xunit performance tool here
https://github.com/Microsoft/xunit-performance/blob/master/src/xunit.performance.run.core.nuspec#L32

We have also noticed similar dependency issues where tests built referencing later versions of dependencies do not conform with

[2016-07-27 18:53] lt72 commented on #162
Let's fix this after you are done with your current task (ETA is today I believe) and, as you suggested yourself, let's also fix the bogus references here

https://github.com/Microsoft/xunit-performance/blob/master/src/xunit.performance.run.core.nuspec#L47

and here

https://github.com/Microsoft/xunit-performance/blob/master/src/xunit.performance.nuspec#L57

where '508-01' should be '00508-01'

[2016-08-05 19:50] lt72 commented on #157
@dsgouda
Deepak, please check this and re-publish the package?

[2016-08-05 19:53] dsgouda commented on #157
@lt72 Package 0039 should have fixed this can you verify please

[2016-08-05 20:16] lukegeor commented on #157
I noticed this was fixed last week when we updated our Nuget package.
Commit 3d369212cd5022b5dfa9979527a30d42d8506d7c resolved the problem. Thank
you.

Luke

On Fri, Aug 5, 2016 at 12:54 PM, Deepak Shankargouda <
notifications@github.com> wrote:

[2016-08-10 21:07] redknightlois commented on #162
Any idea when this is going to be released to the Build Tools Feed?

cc @dsgouda @lt72 @AndyAyersMS

[2016-08-10 21:42] dsgouda commented on #162
@redknightlois I'm working on a fix for this break and should have it published in the next couple of days. Apologize for the delay.

[2016-08-17 16:39] dsgouda commented on #162
@redknightlois Package 0040 published yesterday should fix the CoreFX perf test runs. Please take a look.

[2016-09-07 01:25] valenis opened #172 "Perf Test Coverage: Port Xamarin benchmarks to xunit"
Port relevant benchmarks from:
https://github.com/xamarin/benchmarker/tree/master/tests to xunit and enable them for coreclr

[2016-09-07 01:28] #172 closed

[2016-09-07 01:28] valenis commented on #172
Wrong repository

[2016-10-07 14:51] redknightlois commented on #152
Bump. Any news on this?

[2016-10-07 18:25] lt72 commented on #152
@brianrob: Brian owns this code base and can attend to the PR
@dsgouda: can you provide/point to the latest for acquiring the runner?

[2016-10-17 19:14] #162 closed

[2016-10-17 19:15] #157 closed

[2016-10-17 19:30] brianrob commented on #152
Right now, the best way to acquire the runner is by building the source.  We are working to make the workflow simpler, but I expect it to take some time (e.g. post .NET Core 1.1).

[2016-11-04 21:16] Woland2k opened #175 "Analysis can't parse generated XML"
Running the test generates the following XML for us which analysis tool doesn't recognize and generated malformed log error.

Analysis command:
[code]

XML results:
[code]

[2016-11-21 15:13] jbayardo commented on #118
+1

[2017-01-10 01:22] AndyAyersMS opened #181 "Analysis fails to compute stats for some XML instances"
Using version 1.0.0-alpha-build0040. Here's one such:
[code]
analysis result:
[code]

[2017-02-09 00:43] DrewScoggins opened #185 "XML output writes test name instead of type in type field"
In the type field we use the entire name of the test rather then just the type.  This causes issues when parsing strings like this
`<test name="System.Tests.Perf_String.Split(s: &quot; àÀ&quot;, arr: ['1', 'a', ' ', '0', 'd', ...], options: RemoveEmptyEntries)" type="System.Tests.Perf_String.Split(s: &quot; àÀ&quot;, arr: ['1', 'a', ' ', '0', 'd', ...], options: RemoveEmptyEntries)" method="Syst

[2017-02-13 23:24] jorive opened #187 "There are two ETW implementations in the project."
Merge the two implementations into a single project used by the API and the runner.

[2017-02-13 23:31] jorive opened #188 "Cleanup the API output file generation."
We need to unify the way output files are generated by the API (e.g it would be good to make sort a separate operation that occurs before writing to the csv, xml file generation occurs per assembly and markdown at the harness dispose, etc.)

[2017-02-13 23:36] jorive opened #189 "Make sure that desktop processes get elevated properly"
Test desktop applications using the API, and verify that they can run as Administrator (we could use a manifest file for this).

[2017-02-14 00:06] jorive opened #190 "Revisit XunitRunner. Does it need to be static?"
Does XunitRunner being static block it, moving forward, from being flexible? Can it be queued in a list of tasks? Can it be multithreaded? Can it be run multiple times without side effects?

[2017-02-15 20:09] jorive opened #192 "TraceEventProfileSources.Set changes the -pmcsources intervals machine wide."
We should implement a way to revert these changes.

[2017-02-15 23:59] DrewScoggins opened #193 "When all tests fail we do not make an output XML"
If all of the tests that are run inside of a DLL fail we do not create an output XML.  Is this the intended behavior?  It seems like we should at least make an empty XML file with no results in it.

[2017-03-03 16:40] brianrob commented on #91
Closing as I believe this is addressed by #142.

[2017-03-03 16:40] #91 closed

[2017-03-03 16:44] brianrob commented on #104
This should be fixed now.

[2017-03-03 16:44] #104 closed

[2017-03-03 16:48] KrzysztofCwalina opened #198 "Allow to measure managed heap allocations"
Core CLR now has APIs to measure GC allocations very precisely:

namespace System
{
    public static class GC
    {
        public long GetAllocatedBytesForCurrentThread();
        public long GetAllocatedBytesForThread(int managedThreadId);
    }
}

It would be great if xunit perf allowed to add such measurement to benchmarks.

[2017-03-03 16:57] jorive commented on #198
@KrzysztofCwalina I'm currently working into adding this metric. It will be in the next release of the API :)

[2017-03-03 16:59] KrzysztofCwalina opened #199 "Add the ability to group test results"
It would be great to be able to group tests and metrics and show deltas between them.

For example, let's say there are 4 tests: A, B, C, D. I would like to indicate that A and B are in one group and C and D in another. A and D would be marked as "baseline"

The summary table would show items in each group next to each other a sub group by "metric", and showing deltas between one test marked as "b

[2017-03-03 17:00] KrzysztofCwalina opened #200 "Print nice error message when harness run in non-admin mode"
Today, when you run the harness in non-admin mode it fails with a remoting exception.

Expected: nice message telling people to run it in admin mode

[2017-03-03 17:05] KrzysztofCwalina opened #201 "The ability to compare two branches"
During development it's often super useful to compare before and after results. It would be great if the harness allowed that. Here is how I imagine the basic scenario:
1. Switch to "before" git branch
2. Run benchmarks with a flag --baseline <name>
3. Switch to "after" git branch
4. Run the same benchmarks with a flag --compare <name>
5. The harness outputs results (both detailed files and summar

[2017-03-03 19:10] brianrob commented on #124
This looks like an xunit limitation.  Having a warning seems reasonable.

[2017-03-03 19:10] brianrob commented on #141
This is solved with the addition of xunit.performance.api.

[2017-03-03 19:10] #141 closed

[2017-03-03 19:15] brianrob commented on #145
Fixed with #142.

[2017-03-03 19:15] #145 closed

[2017-03-03 19:16] brianrob commented on #147
Next step: Consider options and make a proposal.

[2017-03-03 19:18] brianrob commented on #149
Min and max iterations are hardcoded in the harness.

Next step: Propose a mechanism to specify min and max iterations if desired (likely per test).
Complexity: Medium

[2017-03-03 19:21] brianrob opened #202 "Add Ability to Run Larger Benchmarks"
Currently, xunit.performance is good at running microbenchmarks in-proc, but doesn't have great support for larger scenario-level benchmarks.

[2017-03-03 19:23] brianrob commented on #202
This is currently being worked on by @guhuro.

[2017-03-03 19:23] brianrob commented on #150
This is an issue for larger workloads, which should run in separate processes.  Should be covered by #202.

[2017-03-03 19:23] #150 closed

[2017-03-03 19:26] brianrob commented on #152
The preferred method to run is now using xunit.performance.api, which can be acquired via NuGet.  For an example, see https://github.com/Microsoft/xunit-performance/blob/master/tests/standalonesample/standalonesample.csproj.

Next step: Update the README.
Complexity: Simple

[2017-03-03 19:28] brianrob commented on #160
@redknightlois, can you tell me a bit more about the failure that you saw here?

[2017-03-03 19:29] brianrob commented on #163
We now have a CLI-friendly way to run xunit.performance tests.  Documentation has yet to be updated, but #152 covers updating the README.  https://github.com/Microsoft/xunit-performance/tree/master/tests/standalonesample is a good example.

[2017-03-03 19:29] #163 closed

[2017-03-03 19:32] brianrob commented on #175
@Woland2k, it looks like something went wrong during the run, because there are no iterations listed for the tests.  Thus, analysis has no data to operate on.  This is likely solved by using xunit.performance.api to run your tests instead of xunit.performance.run.  Would you be able to try this?  You can find an example at https://github.com/Microsoft/xunit-performance/tree/master/tests/standalone

[2017-03-03 19:35] brianrob commented on #185
@DrewScoggins, this is intentional because the method name is not enough to distinguish between tests when data is passed to the test as an argument.  Is there a bug here, or are you looking for something to simplify parsing the resulting XML?

[2017-03-03 19:37] brianrob commented on #189
Next step: Test using xunit.performance.api, and make sure that they are able to collect ETW metrics properly.

[2017-03-03 19:39] brianrob commented on #192
Currently, PMC sources are updated machine-wide, but not reverted when xunit.performance completes.

Next step: Find the right place to revert PMC sources and submit a PR.

[2017-03-03 19:40] brianrob commented on #193
I would expect an XML file as well.  @DrewScoggins is this specific to xunit.performance.run or is this also present when using xunit.performance.api?

[2017-03-03 20:16] jorive commented on #193
Why would you expect an output file with results when there is a failure? That behavior does not seem correct to me.

[2017-03-03 20:18] jorive commented on #185
I believe this is fixed.

[2017-03-03 23:20] brianrob commented on #190
Per conversation with @jorive, we'll close this for now and address it again if a need arises.

[2017-03-03 23:20] #190 closed

[2017-03-03 23:22] brianrob commented on #188
Right now, there is not a clean abstraction between generating results and writing them out.  This issue tracks designing and implementing the abstraction.

[2017-03-04 01:06] brianrob commented on #185
Ok, thanks @jorive.  @DrewScoggins, please re-open if this is not fixed.

[2017-03-04 01:06] #185 closed

[2017-03-04 01:09] brianrob commented on #193
Let me clarify.  If all of the tests are run, even if they fail, I would expect to have a results file.  The results file will be full of failures, but it will exist.  If on the other hand, the harness throws or crashes, then I would not expect to see an XML file, and this is likely out of your control anyway.  What do you think @jorive?

[2017-03-04 01:17] jorive commented on #193
@brianrob Maybe I am missing something, but it does not make sense to have a file if all test failed. You will get an etl profile of the run, but you do not have statistics compute, print or output, or data to upload to BenchView (no raw data). What would those files have? The tests names?

[2017-03-09 21:40] jorive opened #205 "Throwing exception inside the `Xunit.Runners.AssemblyRunner` to report an error leaves the application/harness hung."
This issue should be investigated and the code refactor to handle exceptions properly.
e.g.)
[code]

[2017-03-16 00:04] jorive opened #206 "Remove Xunit-Performance Runner from the master branch"
We need to remove the xunit-performance runner from the master branch because it is considered deprecated. This change is in favor to the xunit-performance-api which is actively being developed to support benchmarking .NET core and full framework.

The old runner has been moved to the branch origin/1.0.0-alpha, where bug fixes and servicing will be done.

In addition, we need to change the version

[2017-03-27 06:03] sithwin opened #210 "Can't find xunit.performance.api.dll"
Hi,

I've no idea how to get xunit.performance.api.dll.

Tried to install :  **xunit.performance.api -Version 1.0.0-beta-build0001** from https://dotnet.myget.org/feed/dotnet-core/package/nuget/xunit.performance.api but getting following error:
Install-Package : Package 'xunit.performance.api 1.0.0-beta-build0001' is not found in the following primary source(s): 'https://api.nuget.org/v3/index.jso

[2017-03-27 18:15] sjk07 commented on #100
any update on this?

[2017-03-29 20:30] deppe commented on #100
I was just looking for this as well. Any plan to move this to nuget?

[2017-03-31 21:59] brianrob commented on #202
Fixed by #208.

[2017-03-31 21:59] #202 closed

[2017-03-31 22:19] brianrob commented on #210
@jorive, can you help with this please?

[2017-03-31 22:20] brianrob commented on #206
Sounds good.  Thanks @jorive.

[2017-04-01 00:54] dpodder commented on #210
@sithwin Does it work if you add `-PreRelease` when trying to insatll the package?

[2017-04-04 20:39] jorive commented on #210
@sithwin
1. What nuget client are you using?
2. Can you try:
  - Adding this `nuget.config` to your project/solution
[code]
  - Running
[code]

[2017-04-04 22:28] billwert opened #211 "Have a Mode to Allow Tests to Run Without ETW"
It would be nice if the harness had a fallback or option to not require administrator. For simple benchmarking this would suffice and would lower the friction to get started.

[2017-04-04 23:30] billwert opened #212 "CSV should include units"
Running a test from the corefx performance suite I get this output:
![image](https://cloud.githubusercontent.com/assets/4523120/24683461/06236138-1954-11e7-83eb-a97bf35bc703.png)

It would be great to know what time and space units are being used.

[2017-04-14 21:18] billwert commented on #211
@brianrob not sure how you want to handle this, but I think a better title for this would be "mode for not using xperf". I was going to open another issue and recalled this one. Thoughts?

[2017-04-14 21:18] billwert opened #215 "Make -? print help"
dotnet perf.dll -?
[4/4/2017 2:12:14 PM][INF] Running 1083 [Benchmark]s

[2017-04-14 21:19] billwert opened #216 "Additional filtering options"
The current harness offers filtering for type name. It'd be nice if it was a more general string search across type, method, etc. Bonus points for some ability to pass regexes.

[2017-04-14 21:21] brianrob commented on #211
@billwert sounds good to me.

@jorive, I think you're already looking into this...

[2017-04-14 21:34] jorive commented on #211
@billwert @brianrob Coming Soon! Stay tuned! :)

[2017-04-14 21:52] billwert opened #217 "stopall command"
It would be nice if the harness had a -stopall command for trying to stop any ETW session it is capable of starting. I've hit it a couple times where I'll have a crash or ctrl-c and leave sessions going.

(Unrelated: Do we have a ctrl-c handler? Adding one that shuts down sessions would be slick if we don't.)

[2017-04-14 22:42] jorive commented on #217
@billwert We do have in place Ctrl-C, Ctrl-Break, and closing the console window handler. The only case where I've seen it not clean up properly is when terminating the process. Could you please tell me the version of the API that you are using, and a repro case. If this is still failing on the current build, then it is a bug and I would like to look into it.

[2017-04-14 22:46] jorive commented on #215
Could you please try this:
[code]

[2017-04-14 22:47] billwert commented on #215
Yup that works. I'd like -? to also work.

[2017-04-14 22:49] jorive commented on #215
Got it.

[2017-04-15 01:19] billwert commented on #217
I don't have a great repro. I was playing around with writing / running some tests and wound up with 750GB of ETLs on my machine. :) Working with it today I can't get it to misbehave badly.

Regardless, I think ETW tooling should have something like PerfView's abort command so that the user can be confident that they have shut everything down. That's what I'd like to see here.

[2017-04-17 18:12] jorive opened #219 "Update the CI build to automatically publish new package versions to myget.org"
Currently, pushing a new package version to myget.org is a manual step. Ideally, this should be automatically done by the CI.

[2017-04-18 08:31] deviantdes opened #220 "Could not load file or assembly 'xunit.runner.utility.dotnet, Version=2.2.0.3300"
Hi guys, ive created a new .NET Framework 4.6.2 project and have been trying to get this xunit.performance.api to work (I have followed the steps in the README, and i actually got it to work in a test .NET Core project. However my work requires me to use .NET Framework)

Sadly for the .NET Framework project, i face this error when i try to run

Is it a configuration issue ?

installed version:
xun

[2017-04-20 23:56] ahsonkhan opened #221 "When will xunit-perf support .NET Core 2.0 & latest CLI?"
I see that xunit perf still uses CLI 1.0: https://github.com/Microsoft/xunit-performance/blob/master/DotNetCliVersion.txt

We use xunit perf in repos/projects that target netcoreapp2.0 and use the latest CLI (https://github.com/dotnet/corefxlab/blob/master/DotnetCLIVersion.txt)

cc @KrzysztofCwalina, @jorive

[2017-04-21 00:45] ahsonkhan opened #222 "Cannot create/build a simple harness to execute the API - both Option #1 and #2"
[Option #1](https://github.com/Microsoft/xunit-performance#option-1-creating-a-self-containing-harness--benchmark): Creating a self containing harness + benchmark

I copied the source from the example into a file `Program.cs`.

What am I doing wrong?

**Here is the csproj file:**
[code]

**Here is the NuGet.config file:**
[code]

[Option #2](https://github.com/Microsoft/xunit-performance#option-2-

[2017-05-02 19:13] ahsonkhan commented on #222
This issue has been resolved. It was caused by the extra/unnecessary package references that get added since the project type was incorrectly chosen as xUnit Test Project (i.e. do NOT do `dotnet new xunit`).

**For Option 1, you should only have the following in the csproj (`dotnet new console`):**
[code]

**And for Option 2 (`dotnet new classlib`):**
[code]

To keep it clear, I removed the unnece

[2017-05-02 19:13] #222 closed

[2017-05-02 19:19] ahsonkhan commented on #221
From discussions with @jorive, it isn't necessary for xunit-perf itself to upgrade to latest CLI unless it needs to leverage APIs/features available in .NET Core 2.0. The recommendation is to run single iteration perf tests on each PR/check-in for each of the repos (coreclr, corefx, corefxlab). This will mitigate failures caused by one repo from cascading to several repos and will catch breaking c

[2017-05-02 19:19] #221 closed

[2017-05-13 19:40] stephenmichaelf opened #228 "Unable to run tests on a specific operating system"
Is it possible to add the PlatformSpecific attribute similar to what exists in xUnit so that we can run tests on a per OS basis?

[2017-05-19 21:37] AndyAyersMS opened #229 "Increase PMC reload interval for InstructionsRetired"
Current PMC reload value for instructions retired is 100,000 which results in roughly one interrupt per 0.1 ms of execution and one ETL even per interrupt per core (from what I can see). So most ETL's are dominated by these samples.

Seems like we could run with a value 10x or 20x higher without increasing the noise floor dramatically, and cut the size of ETL by similar factors.

Worth an experime

[2017-05-23 00:31] AndyAyersMS opened #230 "Virtual getter for Benchmark.InnerIterationCount adds overhead"
The virtual call to `Benchmark.get_InnerIterationCount` can be on the same order of magnitude as simple operations one might like to time.  Since the recommended usage is
[code]
we are adding one virtual call's worth of overhead per inner iteration and all of this overhead gets timed.

Ideally the getter should be non-virtual. Marking `BenchmarkIteratorImpl` as final might also work in more recent

[2017-05-23 00:47] jorive commented on #230
Thanks @AndyAyersMS! I'll get to it soon and send a PR.
-José

[2017-05-23 03:35] jorive opened #231 "API fails to find tests on Linux when `MeasureInstructionsRetiredAttribute` is specified."
The `PerformanceTestMessageVisitor.Visit` method silently throws an exception when the `MeasureInstructionsRetiredAttribute` attribute is found due to an exception thrown by the `TraceEventProfileSources.GetInfo` method (PInvoke exception for a Window dll not found).

[2017-05-23 11:37] adamsitnik commented on #230
@AndyAyersMS have you tried BenchmarkDotNet? Our primary feature is to allow the users to have accurate nano-benchmarks. I don't mean to be rude, but I think that xunit-performance is simple and good for micro-benchmarks, but it was not designed for performing accurate nano-benchmarks.

[2017-05-23 15:25] AndyAyersMS commented on #230
@adamsitnik I haven't looked at BenchmarkDotNet yet, no.  It is on my todo list.

We are mainly interested in detecting changes (regressions or improvements) in performance, especially over time. So we aren't overly concerned if a test has some overhead, so long as the overhead is consistent over time and is not drowning out the thing we are trying to monitor. Less overhead is always preferable, b

[2017-05-23 16:51] AndyAyersMS opened #233 "Emit benchmark and iteration events in stopwatch mode"
Would be nice if these events always got emitted, even in stopwatch mode, in case we're running some other profiler (eg vtune or perfview) over the top of xunit-performance, so we can see exactly where the timed regions are.

[2017-05-23 17:15] AndreyAkinshin commented on #230
Hey @AndyAyersMS.

BenchmarkDotNet has a lot of techniques which provides stable results if you are running a benchmark on the same machine all the time. It automatically chooses an amount of iteration (e.g. if a 3rd party Windows process eats some CPU at the middle of the benchmark and spoil the average; the amount of iteration will be increased), handles the outliers, prints a lot of statistics,

[2017-05-23 17:59] AndyAyersMS commented on #230
@AndreyAkinshin, I would definitely like to understand some of the techniques you've developed better. Sounds like I should rearrange my todo list.

As a practical matter we have to run tests on multiple machines. There's just too much that needs to be measured. So we have to deal with this up front. @valenis can describe what we do to ensure the machines are as identical as possible, if you're cu

[2017-05-23 18:11] AndreyAkinshin commented on #230
Sounds awesome. Let me know if you need any help with BenchmarkDotNet.

I like performance puzzles and I would like to check what's going on in these benchmarks. Is it possible to get the full measured data and machine configurations for each run?

[2017-05-23 18:54] AndyAyersMS commented on #230
I can get you selected data sets, sure. I have machine IDs for each run but not configurations; it may take me a day or two to add the HW details in.

Suggest we start with `Span / SpanBench / TestSpanFillByte(length: 1000)`; here's a sketch of what it has done over the past 2 months:

![image](https://cloud.githubusercontent.com/assets/10121823/26370906/108b32ce-3fae-11e7-9685-f529d824e38b.png)

[2017-05-23 18:57] AndreyAkinshin commented on #230
LGTM, waiting for CSV (don't forget about machine IDs).

[2017-05-23 20:52] AndyAyersMS commented on #230
Here's the CSV: https://gist.github.com/AndyAyersMS/e981f5540f1e1d7966279dc0c6ccfaf4

About 140 executions of the test over a period of roughly a month. BuildId is the matching CoreCLR commit hash. The data here matches the blue "Duration" lines above (though the CSV starts Apr 1 so is missing the first few runs on the left).

As far as I know nothing deliberate was done that would have affected p

[2017-05-23 21:40] AndreyAkinshin commented on #230
It looks very strange, something is definitely wrong with the benchmark setup. It seems that the benchmark has an environment factor with huge performance impact which is changing from run to run. I will try to setup the coreclr env on my machine and investigate what's going on here.

[2017-05-23 23:09] AndyAyersMS commented on #230
A span-related test might not have been the best choice, since it probably requires netcoreapp2.0 or even later bits to run properly.

See what you find and in the meantime I'll look for something that doesn't require super-new builds.

[2017-05-23 23:40] AndreyAkinshin commented on #230
It would be great! If you find an example which can be run on netcoreapp1.1, I will appreciate it.

Meanwhile, I wrote a small R script which shows measured values for different MachineIds:
[code]
![plot](https://cloud.githubusercontent.com/assets/2259237/26380935/6cd2805a-3fef-11e7-9af1-aadfcf590314.png)

Thus, it doesn't seem that there is a correlation between MachineId and measurements.

[2017-05-24 01:22] AndyAyersMS commented on #230
Added another data set: https://gist.github.com/AndyAyersMS/e981f5540f1e1d7966279dc0c6ccfaf4#file-knucleotide_no_parallel-csv

![image](https://cloud.githubusercontent.com/assets/10121823/26382935/aa7ea5ec-3fe4-11e7-8dba-f3c44c9d36fc.png)

This is an adaptation of one of the BenchmarksGames tests. Seems to flip quickly from one level to another.

[2017-05-24 09:00] adamsitnik commented on #230
I have created a new branch in BenchmarkDotNet repo: experiments and put single Span benchmark (SpanFillByte) there. [Code](https://github.com/dotnet/BenchmarkDotNet/blob/experiments/samples/BenchmarkDotNet.Samples.NetCore2/SpanFill.cs)

@AndreyAkinshin you need to install following things to get it running:
[.NET Core 2.0 Preview 1](https://www.microsoft.com/net/core/preview)
[Visual Studio 2017

[2017-05-24 10:11] AndreyAkinshin commented on #230
@AndyAyersMS,
I made an experiment with `SpanBench`: I generated 2000 of the `InlineData` attributes with values 1..2000 (instead of 1,10,100,1000). Here is the full results: https://gist.github.com/AndreyAkinshin/a93a901115d3144a3964eb47a48846dd
A fragment:
[code]
A plot:
![plot2](https://cloud.githubusercontent.com/assets/2259237/26398065/5d57b5e4-4046-11e7-9ce9-1722cd3a7b36.png)

The good news:

[2017-05-24 11:15] AndreyAkinshin commented on #230
Hey @adamsitnik, thanks for setup, now it works for me.

[code]

|           Method | Length |      Mean |     Error |    StdDev |
|----------------- |------- |----------:|----------:|----------:|
| TestSpanFillByte |     10 |  4.097 ns | 0.1225 ns | 0.1146 ns |
| TestSpanFillByte |    100 |  5.205 ns | 0.0259 ns | 0.0242 ns |
| TestSpanFillByte |   1000 | 29.882 ns | 0.6236 ns | 0.7424 ns |

I ca

[2017-05-24 18:50] AndyAyersMS commented on #230
The xunit-perf numbers for the TestSpanFillByte are also stable, over a period of hours to days. It's when we look across longer timespans, *and* measure successive commits to CoreCLR (most of which have nothing to do with the behavior of the frameworks, runtime or the jit) that we see strange things happen.

It's probably not realistic for you guys to simulate all of this, but it would be interes

[2017-05-30 17:58] jorive commented on #230
Issue resolved with commit https://github.com/Microsoft/xunit-performance/commit/a59cafba37389c004dd922c56065e475cbb41821

[2017-05-30 17:58] #230 closed

[2017-05-30 17:59] jorive commented on #231
Fixed with commit https://github.com/Microsoft/xunit-performance/pull/232

[2017-05-30 17:59] #231 closed

[2017-05-30 18:02] jorive commented on #220
@deviantdes Could you please try again with the latest version of the API (build0007)? I believe this was fix in previous versions.
Thanks,
-José

[2017-05-30 18:05] jorive commented on #211
This is already fixed.

[2017-05-30 18:05] #211 closed

[2017-05-30 18:05] jorive commented on #210
@sithwin Any update?

[2017-05-30 18:07] jorive commented on #206
This was done a while back (old runner moved to a different branch to allow bug fixes to old users).

[2017-05-30 18:07] #206 closed

[2017-06-15 20:58] AndyAyersMS commented on #230
@AndreyAkinshin did you ever get around to trying a longitudinal study?

[2017-06-16 15:02] AndyAyersMS opened #237 "Any way to get callbacks on benchmark events?"
When running in stopwatch mode it is sometimes useful to run the entire benchmark process under some other profiler -- for instance so we can take a deeper look at microarchitectural issues.

It would be useful to be able to register callbacks for various benchmark-related events so that the other profiler can be notified about the identity and extent of the timed regions of execution.

[2017-06-16 17:38] pharring commented on #237
There's already an BenchmarkEventSource. Would that do for you?

https://github.com/Microsoft/xunit-performance/blob/a59cafba37389c004dd922c56065e475cbb41821/src/xunit.performance.execution/BenchmarkTestInvoker.cs#L43

[2017-06-16 17:44] jorive commented on #237
When you run with the `stopwatch` option, we do not turn on ETW, so the markers are not going to be there when running under `PerfView`. This option was meant to have a lean measurement of benchmark time without the overhead of ETW.

[2017-06-16 17:59] AndyAyersMS commented on #237
@jorive An example use case would be running the benchmark under vtune. I'd like to use xunit-perf to orchestrate execution, but add a way to call back into vtune around each benchmark and iteration, so vtune can create markers in its own format and subsequently one can correlate xunit-perf measured intervals with the measurements vtune makes.

@pharring that might work, I'll take a look.

[2017-06-16 18:19] AndreyAkinshin commented on #230
@AndyAyersMS, sorry I was too busy on my work lately. Will try to do it soon.

[2017-07-14 17:57] AndyAyersMS opened #238 "Consider running benchmarks in some fixed order"
We are have cases now (eg coreclr's perflab tests) where a test contains multiple benchmarks that can all trigger class initialization. So depending on the order in which the benchmarks are run, one benchmark or another will pay the cost for the initialization. Not sure what triggers the variation in ordering, but I would swear I have seen the order vary with the same binary from run to run. At an

[2017-09-20 18:40] tfaulkner-eaglegroup commented on #210
Worked for me. Had to restart Visual Studio though.

[2017-11-15 22:25] lechu445 opened #247 "Add ability to define path for output files"
Currently output files (csv, etl, etc.) are generated in CurrentDirectory. Please add possibility to define somehow the directory.

I think that is the line where the path is set now:
https://github.com/Microsoft/xunit-performance/blob/7e7b8aa51a04c2c7f621ddc0e7b76835bc653f1a/src/xunit.performance.api/XunitPerformanceHarnessOptions.cs#L20

[2017-11-15 22:29] #247 closed

[2017-11-17 07:04] pavenkostanislav opened #249 "CS0103 The name 'Benchmark' does not exist in the current context"
My project.json file:

[code]

At page used code:

[code]

[2017-11-20 12:35] mycroes commented on #220
I have the same exception, with xunit.performance.api 1.0.0-beta-build0013. The target framework for my application is .NET 4.6.1.

[2017-11-21 17:58] jorive commented on #249
I think you are missing to add to the packages: "xunit.performance.core", version: "1.0.0-beta-build0013". More information about the package here: https://dotnet.myget.org/feed/dotnet-core/package/nuget/xunit.performance.core

[2017-11-23 05:42] pavenkostanislav commented on #249
Unable to resolve 'xunit.performance.core (>= 1.0.0-beta-build0013)' for '.NETCoreApp,Version=v1.1'.

[2017-11-23 05:51] pavenkostanislav commented on #249
I haven't installed the version of the dotnet SDK for my used version core:

[code]

[2017-11-23 07:32] pavenkostanislav commented on #249
That's allright
I'm fixed

[2017-11-23 07:37] pavenkostanislav opened #250 "I don't see the Benchmark test method at "Test Explorer""
When I push "Run All" I don't see my created method with attribute "Benchmark"
Could you help me quick started?

[2017-11-27 17:33] jorive commented on #249
@pavenkostanislav are you still blocked? Is this issue considered closed?

[2017-11-27 17:35] jorive commented on #250
@pavenkostanislav Could you please share the benchmarks source code and project? Could it be that the method marked as `[Benchmark]` is private?

[2017-12-18 16:23] jorive commented on #250
@pavenkostanislav ping

[2017-12-18 16:23] jorive commented on #249
@pavenkostanislav ping

[2017-12-18 16:25] jorive commented on #229
@AndyAyersMS This change was pushed to the API in recent versions. We increased the sampling from 100,000 to 1,000,000.

[2017-12-21 05:08] #249 closed

[2017-12-21 05:11] pavenkostanislav commented on #249
It helped me
1) npm i -g update
2) npm install
3) npm rebuild

[2018-01-01 12:45] fleed opened #253 "VSTS task to get reports"
Is there a VSTS task to get performance reports and ideally figuring out if there are variations?
What is the suggested way to create a graph measuring performance over multiple runs? I'm quite sure that Microsoft has something internally (maybe together with PowerBI?).

Any tutorial/documentation/starting point to create something like this?

Thank you

[2018-01-02 22:42] jorive commented on #250
@pavenkostanislav ping

[2018-01-04 18:24] jorive commented on #220
@mycroes with #251 this issue is fixed. Please feel free to open a new issue if you are still running into problems.

[2018-01-04 18:24] #220 closed

[2018-01-04 18:33] jorive commented on #250
Hi @pavenkostanislav ,

There has not been any response since the issue was opened, we do not know if this is still an issue, and we do not have a repro case. This is why I am closing this issue.

Please feel free to reopen it with more information, or open a new one.

Thanks,

-José

[2018-01-04 18:33] #250 closed

[2018-01-05 00:53] jorive commented on #229
Issue was fixed with https://github.com/Microsoft/xunit-performance/pull/241

[2018-01-05 00:53] #229 closed

[2018-01-05 21:57] adamsitnik commented on #238
I started working on this issue. It looks like the default behavior of xunit-runner (the order of unit test should not affect the results), I will dig into more details

[2018-01-08 18:58] adamsitnik commented on #238
The `AssemblyRunner` which `xunit-performance` is using does not control the order in any way.

However, xunit allows to provide a custom implementation of `ITestCaseOrderer` which can be configured by using the `[TestCaseOrdererAttribute]`. This does not control the order of types with benchmarks, but order of benchmarks per type.

Example:

[code]

Usage:
[code]

Unfortunatelly we can not use it

[2018-01-09 20:06] adamsitnik commented on #238
@AndyAyersMS I added an information about how to provide orderer to the Readme file. [link](https://github.com/Microsoft/xunit-performance#controlling-the-order-of-executed-benchmarks)

Could you give it a try? If ordering does not help we will have to take a close look at the benchmarks with issues

[2018-01-10 00:38] AndyAyersMS commented on #238
Looks like it works, yep:
[code]
See dotnet/coreclr#15800

[2018-01-10 05:28] adamsitnik commented on #238
@AndyAyersMS great, thanks for the feedback

[2018-01-10 20:27] jorive commented on #238
@AndyAyersMS Should I consider this issue as completed and close it?

[2018-01-11 18:56] erick-thompson commented on #100
While I can add the feed to my dev box, the build systems assumes that packages come from nuget.org. Any update on when this might happen?

[2018-01-11 19:08] adamsitnik commented on #100
@erick-thompson hello! I am not sure about the plans for NuGet.org, but I know how to overcome your problem with CI machine.

Whenever dotnet cli or VS restores packages it searches for per-solution and per-machine NuGet.config file. Per-machine can be found at `%HOMEPATH%\AppData\Roaming\Nuget\Nuget.Config ` on Windows and `/.nuget/NuGet/NuGet.Config` on Linux. You have most probably edited yours

[2018-01-11 19:11] jorive commented on #198
Closing this issue as the metric as added to the API with #204

[2018-01-11 19:11] #198 closed

[2018-01-12 22:10] alexanderkozlenko opened #255 "Exception: "The specified module could not be found""
[code]

A self containing harness + benchmark: netcoreapp2.0 / .NET Core 2.0.5

[code]
[ConsoleApp1.zip](https://github.com/Microsoft/xunit-performance/files/1627640/ConsoleApp1.zip)

[2018-01-12 22:59] jorive commented on #255
@alexanderkozlenko You are not using the right version of the Tracing library. You should be using version 1.0.3-alpha-experimental.

[2018-01-12 23:05] alexanderkozlenko commented on #255
It works as expected with version `1.0.3-alpha-experimental`, thanks!

[2018-01-12 23:05] #255 closed

[2018-01-12 23:06] jorive commented on #255
@alexanderkozlenko sorry for the inconvenience.

[2018-01-12 23:53] alexanderkozlenko opened #256 "Unable to run benchmarks from Test Explorer"
[code]
xUnit project: netcoreapp2.0 / .NET Core 2.0.5
[code]
[XUnitTestProject1.zip](https://github.com/Microsoft/xunit-performance/files/1627850/XUnitTestProject1.zip)

[2018-01-17 17:26] jorive commented on #256
@alexanderkozlenko Could you please try adding the line below to the .cs file, and try again?
[code]

[2018-01-22 15:34] joshuaduffy commented on #256
Microsoft Visual Studio Enterprise 2017
Version 15.5.4
VisualStudio.15.Release/15.5.4+27130.2024
Microsoft .NET Framework
Version 4.7.02046

Hey,

I am having the same issue as above on `1.0.0-beta-build0016`

I'm using `xunit` `v2.3.0` (our company has not upgraded but I did a quick check on 2.3.1 and I get the same issue) and  `xunit.runner.visualstudio` `v2.3.1`

Did you manage to work out what

[2018-01-22 16:12] joshuaduffy commented on #256
Better stacktrace..

    [22/01/2018 16:00:30 Informational] ------ Run test started ------
    [22/01/2018 16:00:30 Error] [xUnit.net 00:00:00.3537754] Emis.Benchmarks: Test case Hello(patientId:
    10877) failed to deserialize: System.ArgumentException: Could not load type
    'Microsoft.Xunit.Performance.BenchmarkTestCase, xunit.performance.{Platform}' from serialization     value 'Microsoft.X

[2018-01-23 21:05] erick-thompson commented on #100
I was hoping to avoid this solution, but it will work. Thanks.

[2018-01-29 17:47] jorive commented on #256
@alexanderkozlenko sorry, I have not spent more time on this issue as I was out of office last week.

[2018-02-04 17:55] marcin-kowal commented on #256
Try downgrade xunit package to version: 2.3.0-beta5-build3769

[2018-02-06 20:16] jorive commented on #253
@fleed Your question would more appropriate in any of the links below: https://developercommunity.visualstudio.com/spaces/21/index.html
https://github.com/Microsoft/vsts-tasks

[2018-02-06 22:07] #253 closed

[2018-02-18 04:34] noahfalk opened #260 "XunitPerformanceHarness prints unwanted Console output"
Issue ported from comments in https://github.com/dotnet/coreclr/pull/16353:

Repro:
Write code such as...

    using(var harness = new XunitPerformanceHarness(args))
    {
        harness.RunScenario(...)
    }

Goal: Provide someway to redirect the console logging this does into a stream, or ideally a callback
Actual: Output will be written to the console

[2018-02-18 04:38] noahfalk opened #261 "XUnitPerformanceHarness uses raw command line parsing as only configuration option"
Ported issues from https://github.com/dotnet/coreclr/pull/16353

[2018-03-12 17:31] AndyAyersMS opened #265 "did we lose xunit pass-through options?"
We used to be able to pass options through to xunit, for instance to filter tests based on class name and/or method name (syntax was `-class className` and `-method methodName` respectively.

Is there still some way to do this? If so, can we document it? If not, can we please add it back? Otherwise working with perf assemblies with many embedded benchmarks is painful.

[2018-03-12 18:22] jorive commented on #265
I do not remember those options since this project became an API, but they can certainly be added. The only option there is right now is `--perf:typenames`, which you probably already tried.

[2018-04-02 21:30] kouvel opened #266 "Some suggestions"
Just some random thoughts. I'm not too familiar with xunit-performance, so I'm not sure if any of these are already provided. If there's interest in any of the items feel free to split them up into separate issues.

1. Provide a way for a test to run for a fixed amount of time rather than for a fixed number of iterations
- This could report iterations of InnerIteration groups per unit of time inst

[2018-04-04 18:42] kouvel commented on #266
CC @adamsitnik

[2018-04-05 14:27] adamsitnik commented on #266
@kouvel how to get this with BenchmarkDotNet:

In BDN we have a thing called Jobs and they allow you to configure benchmarks. You can do it by using attributes or our fluent API or our object initialization API.

You can specify the number of iterations and invocation per iteration or use our heuristics to get stable results without providing any values (default mode). You can also specify the min

[2018-04-05 17:35] kouvel commented on #266
Sounds very interesting, thanks for the info!

[2018-04-05 17:35] #266 closed

[2018-04-05 17:56] kouvel commented on #266
I meant some opaque value where higher is better. It could just be iterations per unit of time, or sometimes a test may measure several things and produce one value by weighting those measurements. For instance in a test there can be two types of operations happening at the same time (intent is to test both together), but the perf of one may be more important than the other. For testing a reader-w

[2018-04-05 18:13] adamsitnik commented on #266
We display `Operations/s` by default.

[2018-06-30 13:41] alexanderkozlenko commented on #256
https://github.com/dotnet/corefx/issues/30734

[2018-06-30 13:41] #256 closed

[2018-07-03 04:12] hack2root commented on #260
You can  redirect the console logging manuallyb y using cmd.exe > operator

[2018-11-15 18:06] DrewScoggins opened #272 "Improper cleanup of ETL files"
On lab machines during CoreFX runs we will occasionally start to see errors like this. I investigated this and the problem is that the System process is still holding a handle to an ETL file in that workspace. When we then try to delete the workspace we can't because that handle prevents deletion. We need to do a better job of cleaning up our ETL sessions in xunit-performance.

@billwert @brianrob

[2018-11-15 19:48] jorive commented on #272
@DrewScoggins Could you please give more details on the run. Did the run timed out? Was the process killed? Generally, these issues where the ETW session stays open occurs when those two cases occur and the application is not given the chance to exit gracefully. In those cases, you will need to stop the open sessions, or reboot the machine.

[2018-11-15 20:43] DrewScoggins commented on #272
It is unclear why it happened. It could have been a timeout it could have been a crash. Regardless, we need to make the process more resilient to this kind of failure. I could believe that this is not the right place to do it and we should do the checking for closed sessions at a higher level in the stack, but the answer being manual intervention on the machines is not good enough.

[2018-11-15 21:44] jorive commented on #272
Just to be clear, I was suggesting for manual intervention. Automation should know how to reboot machines, or you could add an extra tool to automation to query for providers, and stop sessions that are holding files on that folder.

[2018-11-15 21:46] jorive commented on #272
Without more information this issue seems external.

[2018-11-15 23:00] DrewScoggins commented on #272
Yeah, I can agree with moving this issue to both coreclr and corefx to track how we handle this outside of the tool. Let me do that and then I will close this issue.

[2018-11-15 23:09] #272 closed

[2018-11-15 23:09] DrewScoggins commented on #272
https://github.com/dotnet/corefx/issues/33535

[2019-03-06 02:19] jzabroski opened #273 "XUnitPerformanceHarness.RunBenchmarks Exception "The specified module could not be found""
[code]

This appears to be related to #255

I think a big problem is how the package is put together.

Here is what I did:

[code]

**To Be Clear**, this is a bug.  Do not just close this. The issue is that the nupkg has the wrong dependency.  The issue is specifically that the csproj for xunit.performance.metrics has a PackageReference that looks up the version based on https://github.com/Microso

[2019-03-06 14:50] jzabroski commented on #273
@brianrob  @ViktorHofer  Is this project left for dead?   If so, what do you folks now use for microbenchmarking?  BenchmarkDotNet?

[2019-03-06 15:06] ViktorHofer commented on #273
As I'm not the owner of that repository I can't comment on that. Regarding what tooling we use for microbenchmarking, we recently switched from xunit-performance to BenchmarkDotNet in corefx.

[2019-03-06 17:28] jzabroski opened #274 "System.Runtime.InteropServices.COMException: 'The WMI data block or event notification has already been enabled. (Exception from HRESULT: 0x8007106E)'"
[code]

[2019-03-06 17:30] jzabroski commented on #274
[code]

[2019-03-06 17:32] jzabroski commented on #273
Thanks @ViktorHofer - can I ask if there are any features xunit-performance has that BenchmarkDotNet does not?

It looks like some of the same bugs plague both frameworks.

[2019-03-06 17:34] ViktorHofer commented on #273
I recommend using BenchmarkDotNet. If you need any features that are not in it, ping @adamsitnik or create an issue in their repo.

[2019-03-06 18:31] jzabroski opened #275 "Warn if benchmarking in debug mode"
The following output is what BenchmarkDotNet nicely generates when benchmarking code with non-optimized references.

[code]

[2019-03-06 18:35] jzabroski opened #276 "Warn if benchmarking with debugger attached"
BenchmarkDotNet generates the following warning:

[code]

[2019-03-06 18:41] jzabroski commented on #260
@noahfalk  Why doesn't Xunit.Performance just use ITestOutputHelper abstraction in Xunit core for tests, and IMessageSink for general purpose output?

https://xunit.github.io/docs/capturing-output

[2019-03-06 18:43] jzabroski commented on #273
It would be ideal to use both.  Xunit.Performance should really just be a shit for plugging in a benchmarking framework, as opposed to the whole kitchen sink.  See my comments on #260 as an example of how Xunit.Performance is not architected correctly from a Xunit stylistic standpoint.

[2019-03-06 18:51] brianrob commented on #273
@jzabroski, to answer your question, the .NET team (which maintains xunit-performance) is in the process of switching to use BenchmarkDotNet so that we can consolidate on a single benchmarking harness rather than maintaining two that do roughly the same things.  I suspect that once this is done, we are likely to either archive this repo or maintain it as is so that it can be used by the community

[2019-03-06 22:03] noahfalk commented on #260
@jzabroski - I wasn't the person who wrote xunit.performance so I can't give a definitive answer why the authors made particular design choices. I can say that in my use-case I wasn't using this library from an xunit test so if the authors had done that it would have made it a little awkward for me.

[2019-03-08 01:23] jzabroski commented on #273
@brianrob  Thanks a ton... after seeing how feature rich BenchmarkDotNet truly is, I'm not really looking back. It would be nice if someone adds the capability to do xunit-performance style tests, as I think it's a lot nicer for certain kinds of tests.  In general, I've always been inspired by Fixie for its pluggability as far as test frameworks go, but it never really caught on in .NET because it

[2020-03-19 21:36] cheenamalhotra commented on #100
A NuGet release would be so nice! Any plans in future to make this official?

[2020-03-20 16:30] adamsitnik commented on #100
Hi @cheenamalhotra

As far as I know there are no such plans. .NET Team has switched to  https://github.com/dotnet/BenchmarkDotNet for micro benchmarks which can be found at https://github.com/dotnet/performance

[2020-03-20 16:36] cheenamalhotra commented on #100
Thanks for the info, I will give BenchmarkDotNet a try!

[2020-05-15 14:12] skironDotNet opened #277 "Unable to install the package"
I was trying to install using PM command as provided here https://dotnet.myget.org/feed/dotnet-core/package/nuget/xunit.performance.api

**Install-Package : NU1101: Unable to find package xunit.performance.api. No packages exist with this id in source(s): Local**

Then downloaded it and placed as local package

![image](https://user-images.githubusercontent.com/2981715/82059621-e5e78f80-968b-11ea-

[2020-06-04 10:42] bhushan-firake commented on #276
@jzabroski I don't know if you have figured this out.
If you go to this link: https://benchmarkdotnet.org/articles/guides/good-practices.html#use-the-release-build-without-an-attached-debugger

They have specified running the program from command line after you build it with Optimize code enabled.

You seem to be running from Visual Studio instead of command line.

[2020-06-04 13:00] jzabroski commented on #276
This is xunit-performance which is basically a dead project.

[2020-10-13 14:48] aburakab commented on #274
I have something similar
[code]

[2020-10-13 15:12] jzabroski commented on #274
@aburakab That's benchmarkdotnet. This issue is for xunit-performance, a now legacy technology. I actually filed a parallel issue in BenchmarkDotNet for this, and created what I believe to be the fix.

However, the immediate workaround for your problem is to force release your data collector sets.

[2021-01-26 20:06] brianrob commented on #277
Closing prior to archive.

[2021-01-26 20:06] #277 closed, assigned to nobody

[2021-01-26 20:06] brianrob commented on #276
Closing prior to archive.

[2021-01-26 20:06] #276 closed

[2021-01-26 20:06] brianrob commented on #275
Closing prior to archive.

[2021-01-26 20:06] #275 closed

[2021-01-26 20:07] brianrob commented on #274
Closing prior to archive.

[2021-01-26 20:07] #274 closed

[2021-01-26 20:07] brianrob commented on #273
Closing prior to archive.

[2021-01-26 20:07] #273 closed

[2021-01-26 20:07] brianrob commented on #265
Closing prior to archive.

[2021-01-26 20:07] #265 closed

[2021-01-26 20:07] brianrob commented on #261
Closing prior to archive.

[2021-01-26 20:07] #261 closed

[2021-01-26 20:07] brianrob commented on #260
Closing prior to archive.

[2021-01-26 20:07] #260 closed

[2021-01-26 20:07] brianrob commented on #237
Closing prior to archive.

[2021-01-26 20:07] #237 closed

[2021-01-26 20:08] brianrob commented on #233
Closing prior to archive.

[2021-01-26 20:08] #233 closed

[2021-01-26 20:08] brianrob commented on #228
Closing prior to archive.

[2021-01-26 20:08] #228 closed

[2021-01-26 20:08] brianrob commented on #219
Closing prior to archive.

[2021-01-26 20:08] #219 closed

[2021-01-26 20:08] brianrob commented on #217
Closing prior to archive.

[2021-01-26 20:08] #217 closed

[2021-01-26 20:08] brianrob commented on #216
Closing prior to archive.

[2021-01-26 20:08] #216 closed

[2021-01-26 20:08] brianrob commented on #215
Closing prior to archive.

[2021-01-26 20:08] #215 closed

[2021-01-26 20:08] brianrob commented on #212
Closing prior to archive.

[2021-01-26 20:08] #212 closed

[2021-01-26 20:08] brianrob commented on #205
Closing prior to archive.

[2021-01-26 20:08] #205 closed

[2021-01-26 20:08] brianrob commented on #201
Closing prior to archive.

[2021-01-26 20:08] #201 closed

[2021-01-26 20:08] brianrob commented on #200
Closing prior to archive.

[2021-01-26 20:08] #200 closed

[2021-01-26 20:08] brianrob commented on #199
Closing prior to archive.

[2021-01-26 20:08] #199 closed

[2021-01-26 20:09] brianrob commented on #193
Closing prior to archive.

[2021-01-26 20:09] #193 closed

[2021-01-26 20:09] brianrob commented on #192
Closing prior to archive.

[2021-01-26 20:09] #192 closed

[2021-01-26 20:09] brianrob commented on #189
Closing prior to archive.

[2021-01-26 20:09] #189 closed

[2021-01-26 20:09] brianrob commented on #188
Closing prior to archive.

[2021-01-26 20:09] #188 closed

[2021-01-26 20:09] brianrob commented on #187
Closing prior to archive.

[2021-01-26 20:09] #187 closed

[2021-01-26 20:09] brianrob commented on #181
Closing prior to archive.

[2021-01-26 20:09] #181 closed

[2021-01-26 20:09] brianrob commented on #175
Closing prior to archive.

[2021-01-26 20:09] #175 closed

[2021-01-26 20:09] brianrob commented on #160
Closing prior to archive.

[2021-01-26 20:09] #160 closed

[2021-01-26 20:09] brianrob commented on #152
Closing prior to archive.

[2021-01-26 20:09] #152 closed

[2021-01-26 20:09] brianrob commented on #149
Closing prior to archive.

[2021-01-26 20:09] #149 closed

[2021-01-26 20:09] brianrob commented on #148
Closing prior to archive.

[2021-01-26 20:09] #148 closed

[2021-01-26 20:10] brianrob commented on #147
Closing prior to archive.

[2021-01-26 20:10] #147 closed

[2021-01-26 20:10] brianrob commented on #124
Closing prior to archive.

[2021-01-26 20:10] #124 closed

[2021-01-26 20:10] brianrob commented on #118
Closing prior to archive.

[2021-01-26 20:10] #118 closed

[2021-01-26 20:10] brianrob commented on #109
Closing prior to archive.

[2021-01-26 20:10] #109 closed

[2021-01-26 20:10] brianrob commented on #100
Closing prior to archive.

[2021-01-26 20:10] #100 closed

[2021-01-26 20:10] brianrob commented on #99
Closing prior to archive.

[2021-01-26 20:10] #99 closed